// configurations
*,
::before,
::after {
    box-sizing: border-box;
    word-wrap: break-word;
}

::selection {
    background-color: $color-black;
    color: $color-white;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background: $color-white;
    color: $color-black;
    font-family: $primaryFontFamily;
    margin: 0 0 60px 0;
    text-align: justify;
}

input,
select,
textarea,
button {
    font-family: $primaryFontFamily;
    font-size: 16px;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

strong,
b {
    font-family: $primaryFontFamilyBold;
}

em,
i {
    font-family: $primaryFontFamilyItalic;
}

strong i,
strong em,
b i,
b em,
i strong,
em strong,
i b,
em b {
    font-family: $primaryFontFamilyBoldItalic;
}
