@media ( min-width: $media-xs ) {
    .main {
        float: left;
        padding: 20px 0;
        width: 100%;
    }
}

@media ( min-width: $media-sm ) {}

@media ( min-width: $media-md ) {
    .main {
        padding-right: 20px;
        width: 70%;
    }
}
