/*
@media ( min-width: $media-xs ) {}
@media ( min-width: $media-sm ) {}
@media ( min-width: $media-md ) {}
*/
@font-face {
  font-family: 'pixellarimedium';
  src: url("../fonts/pixellari-webfont.woff2") format("woff2"), url("../fonts/pixellari-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ralewayitalic';
  src: url("../fonts/raleway-italic-webfont.woff2") format("woff2"), url("../fonts/raleway-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ralewaybold_italic';
  src: url("../fonts/raleway-bolditalic-webfont.woff2") format("woff2"), url("../fonts/raleway-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

*,
::before,
::after {
  box-sizing: border-box;
  word-wrap: break-word; }

html {
  min-height: 100%;
  position: relative; }

body {
  background: #ffffff;
  color: #000000;
  font-family: "ralewayregular";
  margin: 0 0 60px 0;
  text-align: justify; }

input,
select,
textarea,
button {
  font-family: "ralewayregular";
  font-size: 16px;
  outline: none; }

button {
  cursor: pointer; }

img {
  border: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

strong,
b {
  font-family: "ralewaybold"; }

em,
i {
  font-family: "ralewayitalic"; }

strong i,
strong em,
b i,
b em,
i strong,
em strong,
i b,
em b {
  font-family: "ralewaybold_italic"; }

footer {
  background-color: #800000;
  color: #ffffff;
  bottom: 0;
  height: 60px;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%; }

@media (min-width: 320px) {
  body {
    padding: 105px 0 0 0; } }

@media (min-width: 992px) {
  body {
    padding: 135px 0 0 0; } }

.search-form, .wrapper::after {
  clear: both;
  content: '';
  display: block; }

.aside, .aside-nav-category__link, .aside-nav-tag__link {
  transition: all 0.5s ease; }

@media (min-width: 320px) {
  .header {
    background: #ffffff;
    border-bottom: 1px solid #800000;
    height: 100px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; }
    .header__logo-area {
      height: 60px;
      margin: 5px 0 0 0;
      text-align: center; }
    .header__logo-link {
      height: inherit; }
    .header__logo-image {
      height: inherit;
      width: auto; } }

@media (min-width: 992px) {
  .header {
    height: 130px; }
    .header__logo-area {
      height: 90px; } }

@media (min-width: 320px) {
  width: 100%; }

@media (min-width: 992px) {
  .main {
    float: left;
    padding-right: 20px;
    width: 70%; } }

@media (min-width: 320px) {
  .aside {
    background-color: #ffffff;
    height: calc( 100% - 100px);
    left: 100%;
    overflow: auto;
    padding: 5px 10px;
    position: fixed;
    top: 100px;
    width: 100%; }
    .aside--opened {
      left: 0; } }

@media (min-width: 992px) {
  .aside {
    float: left;
    height: auto;
    overflow: hidden;
    padding: 0;
    position: static;
    width: 30%; } }

@media (min-width: 320px) {
  .aside-toggle {
    background-color: #ffffff;
    border: none;
    height: 30px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px; }
    .aside-toggle__line {
      background-color: #000000;
      display: block;
      height: 5px;
      position: absolute;
      width: 100%; }
      .aside-toggle__line:first-child {
        top: 0; }
      .aside-toggle__line:nth-child(even) {
        margin-top: -2.5px;
        top: 50%; }
      .aside-toggle__line:last-child {
        bottom: 0; } }

@media (min-width: 992px) {
  .aside-toggle {
    display: none; } }

.navigation {
  bottom: 5px;
  position: absolute;
  text-align: center;
  width: 100%; }
  .navigation__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .navigation__item {
    display: inline-block; }
  .navigation__link {
    color: #000000;
    padding: 0 7px;
    text-decoration: none; }

.aside-nav-category {
  text-align: left; }
  .aside-nav-category__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .aside-nav-category__item {
    display: block; }
  .aside-nav-category__link {
    color: #000000;
    display: block;
    padding: 5px 0;
    text-decoration: none; }
    .aside-nav-category__link:hover {
      padding-left: 10px; }

.aside-nav-tag {
  text-align: center; }
  .aside-nav-tag__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .aside-nav-tag__item {
    display: inline-block;
    margin: 6px 1px; }
  .aside-nav-tag__link {
    border: 1px solid #800000;
    color: #000000;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase; }
    .aside-nav-tag__link:hover {
      background-color: #d40000;
      color: #ffffff; }

.aside-box__title {
  background-color: #800000;
  font-family: "pixellarimedium";
  font-size: 25px;
  color: #ffffff;
  margin: 0;
  padding: 10px 10px 6px 10px; }

.aside-box__content {
  padding: 10px; }

.search-form {
  height: 30px; }
  .search-form__field, .search-form__button {
    border: 1px solid #000000;
    float: left;
    height: 30px;
    padding: 5px; }
  .search-form__field {
    background-color: #ffffff;
    border-right: 0;
    width: 80%; }
  .search-form__button {
    background-color: #aa0000;
    border-left: 0;
    color: #ffffff;
    width: 20%; }
    .search-form__button:hover {
      background-color: #d40000; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%; }
