@media ( min-width: $media-xs ) {
    .aside-toggle {
        background-color: $color-black;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30px;
        padding: 0;
        width: 40px;

        &__line {
            background-color: $color-white;
            display: block;
            height: 5px;
            width: 40px;
        }
    }
}

@media ( min-width: $media-sm ) {}

@media ( min-width: $media-md ) {
    .aside-toggle {
        display: none;
    }
}
