.aside-nav-category {
    text-align: left;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: block;
    }

    a {
        color: $color-black;
        display: inline-block;
        padding: 5px 0;
        text-decoration: none;

        @extend %transition;

        &:hover {
            padding-left: 10px;
        }
    }
}
