.navigation {
    text-align: center;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        color: $color-white;
        font-family: $primaryFontFamilyBold;
        padding: 0 7px;
        text-decoration: none;
        text-transform: uppercase;
    }
}
