.page {
    &__title {
        color: $color-black;
        font-size: 25px;
        margin: 0 0 10px 0;
        text-align: left;
    }

    &__content {
        line-height: 22px;
        
        a {
            color: $color-maroon;
            text-decoration: none;
        }
    }
}